<h1>Asylum Assist</h1 
<br /><br />

<div class="row">
  <div class="col-md-4">
    <br />
    <%= t 'welcome_text' %>

    <br /><br />
    <%= link_to t('start'), { controller: 'home', action: 'structure', locale: params[:locale] }, class: 'btn btn-lg btn-success', type: 'button' %>
  </div>

  <div class="col-md-4">
    <%= image_tag("i589.png", width: "400") %>
  </div>
</div>
