/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Helvetica', sans-serif;
  padding-bottom: 15px;
  padding-left: 25px;
  margin: 0;
  height: 100%;
  margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  font-size: 12px;
  color: #8F8F8F;
  border-top: 1px solid gray;
}

.footer .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
}

.edit-form input {
  font-size: 14px;
}

.edit-form label {
  font-size: 14px;
}

a:hover, a:focus {
  background-color: initial;
}

.btn-success {
  text-transform: uppercase;
}

.btn-success a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/*
 * # Semantic - Steps
 * http://github.com/jlukic/semantic-ui/
 *
 *
 * Copyright 2014 Contributors
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */
/*******************************
             Step
 *******************************/
.ui.step,
.ui.steps .step {
  display: inline-block;
  position: relative;
  padding: 1em 2em 1em 3em;
  vertical-align: top;
  color: #888888;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
  font-size: 14px;
}
.ui.step a {
  color: black;
  text-decoration: none;
}
.ui.step:after,
.ui.steps .step:after {
  position: absolute;
  z-index: 2;
  content: '';
  top: 0.42em;
  right: -1em;
  border: medium none;
  background-color: #FFFFFF;
  width: 2.2em;
  height: 2.2em;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.15) inset;
  box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.15) inset;
}
.ui.step.active a{
  color: white;
}
.ui.step,
.ui.steps .step,
.ui.steps .step:after {
  -webkit-transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
  -moz-transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
}
.ui.steps {
  cursor: pointer;
  display: inline-block;
  font-size: 0em;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0.3125rem;
}
.ui.steps .step:first-child {
  padding-left: 1.35em;
  border-radius: 0.3125em 0em 0em 0.3125em;
}
.ui.steps .step:last-child {
  border-radius: 0em 0.3125em 0.3125em 0em;
}
.ui.steps .step:only-child {
  border-radius: 0.3125em;
}
.ui.steps .step:last-child {
  margin-right: 0em;
}
.ui.steps .step:last-child:after {
  display: none;
}

textarea {
  font-size: 16px;
  line-height: 1.5;
  padding: 8px;
}

.pagination {
  font-family: 'Helvetica';
}

.control-group {
  margin-bottom: 15px;
}

.optional input[type="checkbox"] {
  margin-left: 0px;
}
