// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 100x;
  padding-left: 20px;
}

.review_answer {
  color: blue;
  text-decoration: underline;
}

.review_answer_missing {
  color: red;
  text-decoration: underline;
}
