// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin transition($transition-prop) {
    -webkit-transition: $transition-prop;
    -moz-transition: $transition-prop;
    transition: $transition-prop;
}

form {
    font-size: 18px;
    padding-left: 10px;
}

input {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(165, 165, 165);
    @include transition(border .5s);
    @include transition(background-color .5s);
    @include transition(opacity .5s);
}

input:focus {
    outline: none;
    border: 1px solid rgb(117, 188, 243);
}

.page_title {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 20px;
    width: 500px;
}

.guidance {
    width: 450px;
    border-left: 1px solid gray;
    padding-left: 10px;
    line-height: 1.7;
    font-size: 15px;
    margin-bottom: 20px;
}

.explanation {
    color: gray;
    font-size: 15px;
    margin-top: 40px;
    margin-left: -50px;
    display: none;
}

.row {
    margin-left: 5px;
}

.question {
    margin-bottom: 15px;
}

.name {
    margin-bottom: 7px;
}

.parsley-error {
    background-color: rgb(255, 158, 158);
    color: black;
}

.parsley-errors-list {
    list-style-type: none;
}
